html
  title CYPoetry_About
  head
    style
    link(type="text/css", href='css/styling.css', rel='stylesheet')
    link(type="text/css", href='css/materialize.css', media="screen,projection") 
    link(link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

block content
body 

nav
  .nav-wrapper
    .ul
      .li
        a.a(href='/') Home
      .li
        a.a(href='/register') Register
      .li
        a.a(href='/userlogin') Login
      .li
        img(src='images/selfdestr.jpg', alt='infinito', height='142', width='110', align='right') 

text 
h2 Online poetry
p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur finibus dolor a rhoncus. Proin sed lectus ipsum. Nam sem est, pulvinar vitae viverra in, tristique sit amet nulla. Etiam at tempor magna. Nulla facilisi. Proin euismod volutpat euismod. Donec facilisis eu magna in vehicula. Proin fringilla nisl non ante commodo aliquam. Nullam sodales diam non elementum feugiat.

p Aenean vestibulum id urna non cursus. Morbi id turpis ullamcorper, vulputate lectus sed, iaculis mauris. Proin ultrices condimentum fringilla. Praesent in condimentum augue, et venenatis elit. Maecenas a ipsum suscipit, bibendum tortor ac, auctor erat. Integer vitae ligula et turpis cursus fringilla. Vestibulum semper et sapien porta semper. Suspendisse vel quam dictum, mollis dolor ac, tristique magna. Morbi scelerisque fermentum libero et aliquam. Proin viverra, nulla rutrum hendrerit rutrum, nunc felis volutpat odio, nec fringilla urna neque sit amet tellus. Vivamus efficitur consequat lorem, in feugiat lorem ultrices ut. Maecenas eget sem vel mauris mollis ultricies ut nec diam. Integer a libero a turpis interdum euismod. Curabitur sed condimentum dui. Ut molestie mi felis, sed dignissim eros varius eget. Sed et tincidunt enim.

p Pellentesque sed malesuada quam. Quisque in lectus quam. Ut a dignissim ligula. Quisque hendrerit pellentesque eros id porta. Sed ultrices felis at ipsum mattis, nec finibus est imperdiet. Aenean imperdiet faucibus condimentum. Maecenas malesuada nisi malesuada faucibus mattis. Maecenas placerat, neque ac venenatis laoreet, nisl diam facilisis magna, quis efficitur ex massa a lacus.
p
  img(src='inifinitotext.jpg', alt='infinito', height='200', width='400', align='center') 





