html
  title CYPoetry_All Poetry
  head
    style
    link(type="text/css", href='css/styling.css', rel='stylesheet')
    link(type="text/css", href='css/materialize.css', media="screen,projection") 
    link(link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")