
#html
  title CYPhil_Homepage
  head
    style
    link(href='css/styling.css', rel='stylesheet')
    link(href='css/materialize.css')
    link(href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet")
  nav
  .nav-wrapper
    .ul
      .li
        a.a(href='/register') Register
      .li
        a.a(href='/userlogin') Login
      .li
        a.a(href='/about') About

block content      
body

    .p 
    img#homeimg(src='images/selfdestr.jpg', alt='LOGO', height='142', width='110', align='middle') 

    .h1 <strong> Cyber-Poetry CAN save your life. Register to get the most awesome poetry  </strong>

    script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
    script(type='text/javascript', src='/js/js.cookie.js')
    script.
      var hasVisited = Cookies.get('visited')
      if(hasVisited === 'true'){
        $(document).ready(function(){
          $('.h1').html('Cyber-Poetry will save your soul. You can log in to see your lifesaving collection')
        })
      }
      else {
        Cookies.set('visited', 'true', {expires:7})
      }

//- https://code.jquery.com/jquery-3.1.1.js"
//-   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
//-   crossorigin="anonymous")





