
<!--extends layout-->
html
  title Homepage
  head
    style
  nav
  .nav-wrapper
    a.brand-logo.right(href='#') Logo
    ul#nav-mobile.left.hide-on-med-and-down
      li
        a(href='sass.html') Some
      li
        a(href='badges.html') Awe
      li
        a(href='collapsible.html') Log Out
    
  
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        
body
       
    h1 <strong> So you are here for first time uh </strong>
    
  


    script(src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous")
    script(src='/js/js.cookie.js')
    script.
      var hasVisited = Cookies.get('visited')
      if(hasVisited === 'true'){
        $(document).ready(function(){
          $('h1').html('So you are back uh')
        })
      }
      else {
        Cookies.set('visited', 'true', {expires:7})
      }


.row
  form.col.s12
    .row
      .input-field.col.s6
        input#first_name.validate(placeholder='Placeholder', type='text')
        |  
        label(for='first_name') First Name
      .input-field.col.s6
        input#last_name.validate(type='text')
        |  
        label(for='last_name') Last Name
    .row
      .input-field.col.s12
        input#disabled.validate(disabled='', value='I am not editable', type='text')
        |  
        label(for='disabled') Disabled
    .row
      .input-field.col.s12
        input#password.validate(type='password')
        |  
        label(for='password') Password
    .row
      .input-field.col.s12
        input#email.validate(type='email')
        |  
        label(for='email') Email
    .row
      .col.s12
        | This is an inline input field:
        .input-field.inline
          input#email.validate(type='email')
          |  
          label(for='email', data-error='wrong', data-success='right') Email
