html
  title CYPoetry_Login User
  head
  style
  link(type="text/css", href='css/styling.css', rel='stylesheet')
  link(type="text/css", href='css/materialize.css', media="screen,projection") 
  link(link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  

block content
body 

nav
  .nav-wrapper
    .ul
      .li
        a.a(href='/') Home
      .li
        a.a(href='/about') About
      .li 
        img(src='images/selfdestr.jpg', alt='LOGO', height='142', width='110', align='right', href='/about' )
.row
  .h1 The dead poets' society is not dead! Login  
  form#tfheader(method='post', action='/loginhandler')
    .row
      .tftextinput
        input(placeholder='username' id='username')
        |  
        label(for='password') Type your Username
    
    .row
      .tftextinput
        input(placeholder='password' id='userpassw' type='password')
        |  
        label(for='password') Type your Password
    .row
      input.tfbutton(type='submit', value='Log In ')

script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
script(type='text/javascript', src='/js/customjquery.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')

