.html
  title CYpoetry_register
  head
    style
    link(type="text/css", href='css/styling.css', rel='stylesheet')
    link(type="text/css", href='css/materialize.css', media="screen,projection") 
    link(link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

block content
body 

nav
  .nav-wrapper
    .ul
      .li
        a.a(href='/') Home
      .li
        a.a(href='/about') About
      .li
        img(src='images/selfdestr.jpg', alt='infinito', height='142', width='110', align='right') 
.row
  .h1 REGISTER A NEW USER BELOW
  form#newForm(method='post', action='/newuserhandler')
    .row
      .tftextinput
        input(placeholder='Name', id='input', name='firstname' type='text')
        #error_firstname
        |  
        label(for='first_name') First Name
      .tftextinput
        input(placeholder='Surname' name='secondname' type='text')
        #error_secondname
        |  
        label(for='last_name') Last Name
    .row
      .tftextinput
        input(placeholder='new username', name='username')
        #error_username
        |  
        label(for='username') Create a Username
    
    .row
      .tftextinput
        input#password.validate(placeholder='new password', name='password',  type='password')
        #error_password
        |  
        label(for='password') Type a New Password
    .row
      .tftextinput
        input#email.validate(placeholder='new email address', name='email', type='email')
        #error_email
        |  
        label(for='email') Enter a valid Email Address
    .row
      input.tfbutton(type='submit', value='peach')


script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
script(type='text/javascript', src='/js/customjquery.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')

    