html { 
    background: url(/images/bg_3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#tfheader{
    background-color:#F5EF9F;
    }
#tfnewsearch{
float:center;
padding:20px;
}
.tftextinput{
margin: 0;
padding: 15px 10px;
font-family: 'VT323', monospace;
font-size:20px;
border:1px solid #7E52BF; 
border-right:5px;
align-content: center;
}
.tfbutton {
margin: 0;
padding: 5px 15px;
font-family: 'Economica', sans-serif;
font-weight: bold;
font-size:20px;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
color: #ffffff;
border: solid 1px #7E52BF; border-right:0px;
background: #6EBFCC;
background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
background: -moz-linear-gradient(top,  #00adee,  #0078a5);
border-top-right-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
text-decoration: none;
background: #0C556E;
background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
background: -moz-linear-gradient(top,  #0095cc,  #00678e);
border-top-left-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
border: 0;
}
.tfclear{
clear:both;
}


.h1, a {
font-family:'VT323', monospace;
font-size: 30px;
text-align: center;
}
.row {
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
}
.err{
  color: #e82741;
  font-weight: bold;
}
p {
font-family: 'Economica', sans-serif;
font-size:20px;
text-align: center;
padding-top: 6px;
padding-bottom: 6px;
}

h2{
font-family: 'Economica', sans-serif;
text-align: center;
font-weight: bold;
font-size: 26px;
}
.ul {

list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #3EB0C2;
font-family: 'VT323', monospace;
font-size:25px;
}

.li {
float: left;
font-family:'VT323', monospace;
font-size:22px;

}

.li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

    /* Change the link color to #111 (black) on hover */
    .li a:hover {
    background-color: #111;
    }

#homeimg{
    padding-top: 6px;
}


.postTable {
  width: 70%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3f82c5;
  border-style: solid;
  color: #216598;
}

.postTable .td, .th {
  border-width: 2px;
  border-color: #3f82c5;
  border-style: solid;
  padding: 7px;
}

.thead {
  background-color: #ffeda6;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 4px;
  display: block;
  width: 60%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}